.accord {
	display: flex;
	flex-direction: column;
  }
  .accord-item {
	max-width: 100%;
	width: 100%;
	cursor: pointer;
	transition: all 0.3s linear;
	
	&-top {
	  max-width: 100%;
	  width: 100%;
	  display: flex;
	  align-items: center;
		z-index: 2;
		transition: .3s linear;
		position: relative;
		z-index: 1;
	  @media screen and (max-width: 367px) {
		word-wrap: break-word;
		overflow-wrap: break-word;
		white-space: normal;
		white-space: pre-wrap;
	  }
	 
	  }
	 
	
	&-bottom {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
		transition: 0.2s linear;
		padding: 80px 40px 0px 40px;
		position: relative;
		z-index: 0;
		margin-top: -80px;
	  & p {
		@include p1;
		margin-bottom: 0;
	  }
		@media screen and (max-width:767px) {
			padding: 50px 20px 0px 20px;
			margin-top: -50px;
		}
	}
  }

	.icon-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
		margin-left: auto;
}


  .accord-item.active .accord-item-bottom {
		opacity: 1;
		max-height: 100vh;
		overflow: visible;
		padding: 80px 40px 40px 40px;
    z-index: -1;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    margin-top: -46px;
    z-index: 0;
		visibility: visible;
 
	@media screen and (max-width: 767px) {
	  padding: 70px 20px 20px 20px;
	  margin-top: -50px;
	}
	
  }
	// @media screen and (min-width:1023px) {
	// 	.accord-item:hover .accord-count{
	// 		background: $--blue;
	// 		color: $--dark-theme-background;
	// 	}
	// 	.accord-item:hover .initial-state{
	// 		opacity: 0;
	// 	}
	// 	.accord-item:hover .hover-state{
	// 	opacity: 1;
	// 	}
	// }


	
