// .target__wrap{
// 	display: flex;
// 	gap: 60px;
// 	@media screen and (max-width:1023px) {
// 		flex-direction: column;
// 	}
// }
.target__list{
	width: 46%;
	display: flex;
	flex-direction: column;
	@media screen and (max-width:1023px) {
		flex-direction: row;
		overflow: hidden;
		overflow-x: auto;
		width: 100%;
	}
}
.target__list-item{
	display: flex;
	align-items: center;

	@media screen and (max-width:1023px) {
		min-width:fit-content;
		width: 100%;
	}
	@media screen and (max-width:767px) {
		padding: 20px;
	}
}
